@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:#FFFFFF;
}

/* ----- header ----- */

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: #f9f9f9;
    color: #A4A7A9;  

}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex; 
}

.navbar-links li {
    list-style-type: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #a4a7a9;
    padding: 1rem;
    display: block;
    
}


.navbar-toggler {
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    flex-direction: column;
    display: none;
    width: 35px;
    height: 35px;
    border: 0;
    
}

.logo-style {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.8em;
    padding-right: 0;
    margin-right: 0;
}
.logo-style a {
    text-decoration: none;
}

#logo-grey {
    color: #A4A7A9;
}

#logo-green {
    color: #76C61A;
}


/*- Hero image section */

#hero-outer {
    width:100%;
    height: 1200px;
    overflow: hidden;
    position: relative;
}

#hero-image {
width: 100%;
height: 100%;
background: url("/assets/images/home-hero_1920x1200.png") no-repeat center center;
position: inherit;
}

#overlay {
    width: 100%;
    height: 100%;
    position:relative;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#cover-text{
    width: 800px;
    height: 300px;
    padding: 20px;
    background-color: rgba(164,167,169,0.7);

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#cover-text  {
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 16px;
}

#cover-text h1,h3{
    font-weight: bold;
    margin-bottom: 1.6rem;
    
}

.home-buttons {
    width: 216px;
    height: 40px;
    padding: 2px;
    vertical-align: middle;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #76C61A;
    border-color: #28a745;
}

.review-stars {
    width: 320px;
    height: 80px;
    left: 0;
    margin: auto;
}

#trustpilot-stars {
    height: 40px;
    width: 40px;
    background-image: url(assets/images/Trustpilot.png) no-repeat center center;
}