@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* general rules */


body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #e5e5e5;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    width: 100%;
    margin: 0px;
}
.content-divider {
    width: 100px;
    border: 2px solid #555555;
}

.content-divider-white {
    width: 100px;
    border: 2px solid #fff;
}


/* background colours */

.nav-menu {
    background-color: #f9f9f9;
}

footer {
      background-color: #555;
      color: white;
  }
/* ----- header/navbar ----- */

.nav-menu {
    width: 100%;
    color: #A4A7A9;
  }
  

  .navbar-toggler {
    border: 0;
  }

  .navbar-toggler-icon:hover {
      border-color: #76C61A;
  }

  .navbar-light .navbar-nav .active > .nav-link {
    color: #76C61A;
  }
  
  .menu-item-margin {
    margin: 0px 0px 0px 0px;
  }


.logo-style {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.8em;
    padding-right: 0;
    margin-right: 0;
}
.logo-style a {
    text-decoration: none;
}

#logo-grey {
    color: #A4A7A9;
}

#logo-green {
    color: #76C61A;
}


/*- Hero image section -*/

#hero-outer {
    width:100%;
    height: 500px;
    position: relative;
}

#hero-image {
    width: 100%;
    height: 100%;
    background: url("/assets/images/home-hero.jpg") no-repeat center center;
    background-size: cover;
    position: inherit;
}


#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position:relative;
}

.cover-text{
    width: 100%;
    height: 100%;
    padding: 100px 10px;
    background-color: rgba(0,0,0,0.6);

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.cover-text  {
    color: #FFFFFF;
   
    text-align: center;
}

.cover-text h1 {
   font-weight: bold;
   margin-bottom: 16px;
}
.cover-text h3 {
    margin-bottom: 16px;
}

.cover-text h1,h3, .home-buttons {
    margin: 1.6rem 0;
    
}

.review-stars {
    width: 200px;
    height: 40px;
    
    text-align: right;

    bottom: 5px;
    right:0;
    position: absolute;
}

#stars-small {
    width: 200px;
    height: 40px;
    
    text-align: center;
    margin:auto;
    
    position: relative;
}

#trustpilot-stars {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url(/assets/images/Trustpilot.png);    
}

/* services and features section */
.services {
    margin:0;
    max-width: 100vw;
    padding: 1.6rem 0;
    color: #555555;
}

.services h3 {
    
    font-weight: bold;
}
    
.general-content {
    margin: 15px 0px;
    font-family: "Noto Sans KR", sans-serif;
}

.general-content i {
    font-size: 3rem;
}
.general-content a {
    text-decoration: none;
    color: #76C61A;
}

.general-content a:hover {
    color: #28a745;
}


#facilities-outer {
    width:100%;
    overflow: hidden;
    position: relative;
}

#half-width-image-left {
    width: 100%;
    height: 500px;
    background: url("/assets/images/gym-machines.jpg") no-repeat center center;
    background-size: cover;
    position: inherit;
}
#half-width-image-right {
    width: 100%;
    height: 500px;
    background: url("/assets/images/stretches-min.png") no-repeat center center;
    background-size: cover;
    position: inherit;
}

#facilities {
    padding: 10px;
}

#facilities a {
    text-decoration: none;
    color: #76C61A;
}

#facilities a:hover {
    text-decoration: none;
    color: #28a745;
}

/* footer rules and styling */
footer {
    padding: 20px;
}
footer h3 {
    font-weight: bold;
}

#footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    color: #28a745;
}

/* buttons styling */

.home-buttons {
    width: 150px;
    height: 40px;
    padding: 2px;
    vertical-align: middle;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #76C61A;
    border-color: #28a745;
}

#nav-button {
    margin: 0px;
}


@media screen and (max-width: 768px) {
    #facilities {
        padding: 50px 10px;
    }
}

@media screen and (max-width: 992px) {
    #overlay {
        width: 100%;
        height: 100%;
    }

    #hero {
        padding: 80px 100px;
    }

    #facilities {
        padding: 70px 60px;
    }

    .general-content {
        padding: 10px 100px;
    }

    #footer.general-content {
        padding: 0px 100px;
    }
}

@media screen and (max-width: 1200px) {
    #overlay {
        width: 60%;
        height: 60%;

        padding: 20px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    .cover-text {
        width: 100%;
        height: 100%;
        padding: 20px 10px;
        background-color: rgba(0,0,0,0.6);
    }
    .cover-text h1,h3,.home-buttons {
        margin: 0.5rem;
        padding: 15px, 0px;
    }

    #footer.general-content {
        text-align: left;
    }
}